<!DOCTYPE html>
<html>
<head>
  <title>Simple App du Tutoriel Ruby on Rails | <%= @titre %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
